In [2]:
import pandas as pd
import numpy as np

## Fayllar bilan ishlash

In [3]:
df = pd.read_excel(r"c:\Users\User\projects\MohirDev\praktikum_datasets-main\uzbekistan.xlsx", index_col = 0, names=["hudud", "maydon", "aholi"])
df

                               maydon    aholi
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [4]:
pd.read_csv(r"c:\Users\User\projects\MohirDev\praktikum_datasets-main\automobile_data.csv", index_col="index")

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [5]:
df.to_csv("newuzb.csv")

In [6]:
obj = df.maydon
obj

hudud
Andijon viloyati                   4200
Buxoro viloyati                   39400
Fargʻona viloyati                  6800
Jizzax viloyati                   20500
Xorazm viloyati                    6300
Namangan viloyati                  7900
Navoiy viloyati                  110800
Qashqadaryo viloyati              28400
Qoraqalpogʻiston Respublikasi    160000
Samarqand viloyati                16400
Sirdaryo viloyati                  5100
Surxondaryo viloyati              20800
Toshkent viloyati                 15300
Name: maydon, dtype: int64

In [7]:
obj.to_csv("uzmaydon.csv")

In [8]:
pd.read_csv("uzmaydon.csv", index_col=0)

                               maydon
hudud
Andijon viloyati                 4200
Buxoro viloyati                 39400
Fargʻona viloyati                6800
Jizzax viloyati                 20500
Xorazm viloyati                  6300
Namangan viloyati                7900
Navoiy viloyati                110800
Qashqadaryo viloyati            28400
Qoraqalpogʻiston Respublikasi  160000
Samarqand viloyati              16400
Sirdaryo viloyati                5100
Surxondaryo viloyati            20800
Toshkent viloyati               15300

In [9]:
df2 = pd.read_csv(r"c:\Users\User\projects\MohirDev\praktikum_datasets-main\automobile_data.csv", index_col="index")
df2

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [10]:
df2.to_excel("newscars.xlsx", index = False) # indexslarni saqlamadi

In [11]:
df2.to_excel("newscars.xlsx", index = False, columns=["company", "body-style", "price"]) # ustunlarni tanlab saqladi

## HDF5 formati

In [12]:
hdobj = pd.HDFStore("data.h5") # ochish

In [13]:
df

                               maydon    aholi
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [14]:
df2

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [15]:
hdobj.put("uzdata", df) #df qo'shish

In [16]:
hdobj.put("cardata", df2)

In [17]:
hdobj.keys()

['/cardata', '/uzdata']

In [18]:
hdobj['uzdata']

                               maydon    aholi
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [19]:
hdobj['cardata']

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [20]:
hdobj.close() # yopish

In [21]:
data = pd.read_hdf("data.h5", key="uzdata") # df ga olish
data

                               maydon    aholi
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [22]:
data.to_hdf("data1.h5", key="uzdata")

## Veb-sahifalardan oʻqish

In [23]:
tashkent = pd.read_html("https://en.wikipedia.org/wiki/Tashkent")

In [24]:
len(tashkent)

18

In [25]:
tashkent[0]

,Tashkent Тошкент / Toshkent,Tashkent Тошкент / Toshkent.1
0,Capital city,Capital city
1,Tashkent,Tashkent
2,"Clockwise from top: Skyline of Tashkent, Kukel...","Clockwise from top: Skyline of Tashkent, Kukel..."
3,FlagSeal,FlagSeal
4,Nickname: Tosh (A rock),Nickname: Tosh (A rock)
5,"Motto(s): Kuch Adolatdadir (""Strength is in Ju...","Motto(s): Kuch Adolatdadir (""Strength is in Ju..."
6,Location of Tashkent in Uzbekistan,Location of Tashkent in Uzbekistan
7,NaN,NaN
8,TashkentTashkentTashkent,TashkentTashkentTashkent
9,Coordinates: 41°18′40″N 69°16′47″E﻿ / ﻿41.3111...,Coordinates: 41°18′40″N 69°16′47″E﻿ / ﻿41.3111...
10,Country,Uzbekistan
11,Settled,3rd century BCE
12,Divisions,12 districts
13,Government,Government
14,• Type,City Administration
15,• Hakim,Shavkat Umirzakov
16,Area,Area
17,• Capital city,631.29 km2 (243.74 sq mi)
18,• Metro,"6,400 km2 (2,500 sq mi)"
19,Dimensions,Dimensions
20,• Length,25 km (16 mi)
21,• Width,30 km (20 mi)
22,Elevation,"455 m (1,493 ft)"
23,Population (1 January 2024)[2],Population (1 January 2024)[2]
24,• Capital city,"3,095,498 [1]"
25,• Rank,1st in Uzbekistan
26,• Density,"4,816/km2 (12,470/sq mi)"
27,• Urban,2575431
28,• Metro,2633661
29,• Metro density,"410/km2 (1,100/sq mi)"
30,Time zone,UTC+05:00 (Uzbekistan Time)
31,• Summer (DST),(Not Observed)
32,Area code,71
33,Vehicle registration,01
34,HDI (2019),0.820[3] very high
35,International Airports,Islam Karimov Tashkent International Airport
36,Rapid transit system,Tashkent Metro
37,Website,tashkent.uz
38,NaN,NaN
39,UNESCO World Heritage Site,UNESCO World Heritage Site
40,Official name,Western Tien-Shan Mountain
41,Criteria,Natural:
42,Reference,1490
43,Inscription,2016 (40th Session)
44,Area,"528,177.6 ha (1,305,155 acres)"

In [26]:
tashkent[10]

,Nr,District,Population (2021)[4],Area (km2)[67][66],Density (area/km2),Map
0,1,Bektemir,31400,17.83,1761,NaN
1,2,Chilanzar,260700,29.94,8707,NaN
2,3,Yashnobod,258800,33.70,7680,NaN
3,4,Mirobod,142800,17.10,8351,NaN
4,5,Mirzo Ulugbek,285000,35.15,8108,NaN
5,6,Sergeli,105700,37.36,2829,NaN
6,7,Shayxontoxur,348300,29.70,11727,NaN
7,8,Olmazor,377100,34.50,10930,NaN
8,9,Uchtepa,278200,24.00,11592,NaN
9,10,Yakkasaray,121600,14.60,8329,NaN
10,11,Yunusabad,352000,40.60,8670,NaN
11,12,Yangihayot,132800,44.20,3005,NaN

## JSON va APIʼdan oʻqish

In [29]:
import requests
r = requests.get("https://openlibrary.org/subjects/python.json?published_in=2020-2024")

In [30]:
r.status_code

200

In [31]:
r.json()

{'key': '/subjects/python',
 'name': 'python',
 'subject_type': 'subject',
 'work_count': 24,
 'works': [{'key': '/works/OL16976951W',
   'title': 'Think Python',
   'edition_count': 11,
   'cover_id': 7363360,
   'cover_edition_key': 'OL25763659M',
   'subject': ['Computer programming',
    'Software architecture',
    'Python (Computer program language)',
    'COMPUTERS / Programming Languages / C#',
    'COMPUTERS / Programming Languages / Pascal',
    'COMPUTERS / Programming Languages / Java',
    'Computer',
    'Programming Languages',
    'General',
    'Python',
    'Bioinformatics',
    'Games',
    'Com051360',
    'Cs.cmp_sc.prog_lang'],
   'ia_collection': ['additional_collections',
    'folkscanomy',
    'folkscanomy_computer',
    'folkscanomy_computer_inbox',
    'inlibrary',
    'internetarchivebooks',
    'printdisabled'],
   'lendinglibrary': False,
   'printdisabled': True,
   'lending_edition': 'OL26455778M',
   'lending_identifier': '2015ThinkPython',
   'authors': [{'key': '/authors/OL6815485A', 'name': 'Allen B. Downey'},
    {'key': '/authors/OL12493148A', 'name': 'Allen Downey'}],
   'first_publish_year': 2009,
   'ia': '2015ThinkPython',
   'public_scan': True,
   'has_fulltext': True,
   'availability': {'status': 'open',
    'available_to_browse': False,
    'available_to_borrow': False,
    'available_to_waitlist': False,
    'is_printdisabled': False,
    'is_readable': True,
    'is_lendable': False,
    'is_previewable': True,
    'identifier': '2015ThinkPython',
    'isbn': None,
    'oclc': None,
    'openlibrary_work': 'OL16976951W',
    'openlibrary_edition': 'OL26455778M',
    'last_loan_date': None,
    'num_waitlist': None,
    'last_waitlist_date': None,
    'is_restricted': False,
    'is_browseable': False,
    '__src__': 'core.models.lending.get_availability'}},
  {'key': '/works/OL21349037W',
   'title': 'Introduction to Python for Science and Engineering',
   'edition_count': 10,
   'cover_id': None,
   'cover_edition_key': None,
   'subject': ['Python (computer program language)',
    'Engineering, data processing',
    'Science, data processing',
    'Python (Computer program language)',
    'Computer programming',
    'Engineering',
    'Data processing',
    'Science',
    'COMPUTERS',
    'Programming Languages',
    'Python',
    'General',
    'MATHEMATICS',
    'SCIENCE',
    'Physics'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL4194836A', 'name': 'David J. Pine'}],
   'first_publish_year': 2018,
   'ia': None,
   'public_scan': False,
   'has_fulltext': False},
  {'key': '/works/OL15664278W',
   'title': 'Head First Python',
   'edition_count': 9,
   'cover_id': 6681113,
   'cover_edition_key': 'OL24596470M',
   'subject': ['Programming languages (electronic computers)',
    'Python (Computer program language)',
    'Python (Langage de programmation)',
    'COMPUTERS',
    'Programming Languages',
    'C♯',
    'Java',
    'Pascal',
    'Scripting languages (Computer science)',
    'Computers and IT',
    'Python',
    'General',
    'Games',
    'Com051360',
    'Cs.cmp_sc.app_sw',
    'Cs.cmp_sc.prog_lang'],
   'ia_collection': ['inlibrary',
    'internetarchivebooks',
    'popularchinesebooks',
    'printdisabled'],
   'lendinglibrary': False,
   'printdisabled': True,
   'lending_edition': 'OL35343633M',
   'lending_identifier': 'headfirstpythonz0000paul',
   'authors': [{'key': '/authors/OL6867889A', 'name': 'Paul Barry'}],
   'first_publish_year': 2010,
   'ia': 'headfirstpythonz0000paul',
   'public_scan': False,
   'has_fulltext': True,
   'availability': {'status': 'borrow_available',
    'available_to_browse': True,
    'available_to_borrow': False,
    'available_to_waitlist': False,
    'is_printdisabled': True,
    'is_readable': False,
    'is_lendable': True,
    'is_previewable': True,
    'identifier': 'headfirstpythonz0000paul',
    'isbn': '9787512322233',
    'oclc': None,
    'openlibrary_work': 'OL15664278W',
    'openlibrary_edition': 'OL35343633M',
    'last_loan_date': None,
    'num_waitlist': None,
    'last_waitlist_date': None,
    'is_restricted': True,
    'is_browseable': True,
    '__src__': 'core.models.lending.get_availability'}},
  {'key': '/works/OL17422847W',
   'title': 'Python For Data Analysis',
   'edition_count': 8,
   'cover_id': 7548132,
   'cover_edition_key': None,
   'subject': ['Programming languages (Electronic computers)',
    'Python (Computer program language)',
    'Data mining',
    'Python (Langage de programmation)',
    'Exploration de données (Informatique)',
    'COMPUTERS',
    'Programming Languages',
    'Python',
    'Python 3.6',
    'Datenanalyse',
    'Datenmanagement',
    'Data processing',
    'General',
    'Games',
    'Com051360',
    'Cs.cmp_sc.app_sw',
    'Cs.cmp_sc.prog_lang',
    'Qa76.73.p98 m35 2017',
    '005.13/3'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL7309633A', 'name': 'Wes McKinney'}],
   'first_publish_year': 2012,
   'ia': 'pythonfordataana00mcki',
   'public_scan': False,
   'has_fulltext': False,
   'availability': {'status': 'error',
    'error_message': 'not found',
    'identifier': 'pythonfordataana00mcki',
    'is_restricted': True,
    'is_browseable': False,
    '__src__': 'core.models.lending.get_availability'}},
  {'key': '/works/OL6045694W',
   'title': 'Python in a Nutshell',
   'edition_count': 8,
   'cover_id': 389166,
   'cover_edition_key': 'OL7581267M',
   'subject': ['Python (Computer program language)',
    'Python (programmeertaal)',
    'Scripting languages (Computer science)',
    'Python (Langage de programmation)',
    'COMPUTERS',
    'Programming Languages',
    'Python'],
   'ia_collection': ['americanuniversity-ol',
    'drakeuniversity-ol',
    'inlibrary',
    'internetarchivebooks',
    'johnshopkins-ol',
    'printdisabled',
    'wilsoncollege-ol'],
   'lendinglibrary': False,
   'printdisabled': True,
   'lending_edition': 'OL26836451M',
   'lending_identifier': 'pythoninnutshell0000mart_a1w4',
   'authors': [{'key': '/authors/OL1521655A', 'name': 'Alex Martelli'},
    {'key': '/authors/OL2726934A', 'name': 'Anna Ravenscroft'},
    {'key': '/authors/OL2804309A', 'name': 'Steve Holden'}],
   'first_publish_year': 2002,
   'ia': 'pythoninnutshell0000mart_a1w4',
   'public_scan': False,
   'has_fulltext': True,
   'availability': {'status': 'borrow_available',
    'available_to_browse': True,
    'available_to_borrow': False,
    'available_to_waitlist': False,
    'is_printdisabled': True,
    'is_readable': False,
    'is_lendable': True,
    'is_previewable': True,
    'identifier': 'pythoninnutshell0000mart_a1w4',
    'isbn': '144939292X',
    'oclc': None,
    'openlibrary_work': 'OL6045694W',
    'openlibrary_edition': 'OL26836451M',
    'last_loan_date': None,
    'num_waitlist': None,
    'last_waitlist_date': None,
    'is_restricted': True,
    'is_browseable': True,
    '__src__': 'core.models.lending.get_availability'}},
  {'key': '/works/OL21703042W',
   'title': 'Tour of Data Science',
   'edition_count': 6,
   'cover_id': None,
   'cover_edition_key': None,
   'subject': ['Data mining',
    'R (Computer program language)',
    'Python (Computer program language)',
    'Data Mining',
    'Exploration de données (Informatique)',
    'R (Langage de programmation)',
    'Python (Langage de programmation)',
    'COMPUTERS',
    'Programming Languages',
    'Python',
    'General',
    'Computer Graphics',
    'Game Programming & Design'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL8302653A', 'name': 'Nailong Zhang'}],
   'first_publish_year': 2020,
   'ia': None,
   'public_scan': False,
   'has_fulltext': False},
  {'key': '/works/OL19548251W',
   'title': 'Python for Everyone',
   'edition_count': 6,
   'cover_id': 8514962,
   'cover_edition_key': 'OL26838816M',
   'subject': ['Python (computer program language)',
    'Python (Computer program language)',
    'Python'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL6972451A', 'name': 'Cay S. Horstmann'},
    {'key': '/authors/OL7017980A', 'name': 'Rance D. Necaise'}],
   'first_publish_year': 2013,
   'ia': None,
   'public_scan': False,
   'has_fulltext': False},
  {'key': '/works/OL19932156W',
   'title': 'Fluent Python',
   'edition_count': 6,
   'cover_id': 8743408,
   'cover_edition_key': 'OL27112900M',
   'subject': ['Python (Computer program language)',
    'Computer programming',
    'Object-oriented programming languages',
    'Object-oriented programming (computer science)',
    'Python (computer program language)',
    'Python (Langage de programmation)',
    'Langages orientés objet (Informatique)',
    'COMPUTERS',
    'Programming Languages',
    'Python',
    'Aa76.73.p98'],
   'ia_collection': ['binghamton-ol',
    'cua-ol',
    'inlibrary',
    'internetarchivebooks',
    'printdisabled',
    'universityofoklahoma-ol'],
   'lendinglibrary': False,
   'printdisabled': True,
   'lending_edition': 'OL27112900M',
   'lending_identifier': 'fluentpython0000rama',
   'authors': [{'key': '/authors/OL7584543A', 'name': 'Luciano Ramalho'}],
   'first_publish_year': 2015,
   'ia': 'fluentpython0000rama',
   'public_scan': False,
   'has_fulltext': True,
   'availability': {'status': 'borrow_available',
    'available_to_browse': True,
    'available_to_borrow': True,
    'available_to_waitlist': False,
    'is_printdisabled': True,
    'is_readable': False,
    'is_lendable': True,
    'is_previewable': True,
    'identifier': 'fluentpython0000rama',
    'isbn': '9781491946008',
    'oclc': None,
    'openlibrary_work': 'OL19932156W',
    'openlibrary_edition': 'OL27112900M',
    'last_loan_date': None,
    'num_waitlist': None,
    'last_waitlist_date': None,
    'is_restricted': True,
    'is_browseable': True,
    '__src__': 'core.models.lending.get_availability'}},
  {'key': '/works/OL25777002W',
   'title': 'Pandas for Everyone',
   'edition_count': 5,
   'cover_id': 13546912,
   'cover_edition_key': 'OL38655797M',
   'subject': ['Data mining',
    'General',
    'Python',
    'Professional, career & trade -> computer science -> database management',
    'Professional, career & trade -> computer science -> general',
    'Professional, career & trade -> computer science -> python'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL6586776A', 'name': 'Daniel Chen'}],
   'first_publish_year': 2017,
   'ia': None,
   'public_scan': False,
   'has_fulltext': False},
  {'key': '/works/OL19547142W',
   'title': 'Mastering Python Design Patterns',
   'edition_count': 5,
   'cover_id': 8513254,
   'cover_edition_key': 'OL26837727M',
   'subject': ['Python (Computer program language)',
    'Computer software',
    'Development',
    'Python (Langage de programmation)',
    'COMPUTERS',
    'Programming Languages',
    'Python',
    'Python (computer program language)'],
   'ia_collection': ['internetarchivebooks', 'printdisabled'],
   'lendinglibrary': False,
   'printdisabled': True,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL7494961A', 'name': 'Sakis Kasampalis'}],
   'first_publish_year': 2015,
   'ia': 'masteringpythond0000kasa',
   'public_scan': False,
   'has_fulltext': True,
   'availability': {'status': 'private',
    'available_to_browse': False,
    'available_to_borrow': False,
    'available_to_waitlist': False,
    'is_printdisabled': True,
    'is_readable': False,
    'is_lendable': False,
    'is_previewable': True,
    'identifier': 'masteringpythond0000kasa',
    'isbn': '9781783989331',
    'oclc': None,
    'openlibrary_work': 'OL19547142W',
    'openlibrary_edition': 'OL26837727M',
    'last_loan_date': None,
    'num_waitlist': None,
    'last_waitlist_date': None,
    'is_restricted': True,
    'is_browseable': False,
    '__src__': 'core.models.lending.get_availability'}},
  {'key': '/works/OL21245028W',
   'title': 'Bite-Size Python',
   'edition_count': 4,
   'cover_id': 10357241,
   'cover_edition_key': 'OL28762070M',
   'subject': ['Python (Computer program language)',
    'COMPUTERS',
    'Languages',
    'Python'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL8135613A', 'name': 'April Speight'}],
   'first_publish_year': 2020,
   'ia': None,
   'public_scan': False,
   'has_fulltext': False},
  {'key': '/works/OL25347363W',
   'title': 'Survival Analysis with Python',
   'edition_count': 4,
   'cover_id': None,
   'cover_edition_key': None,
   'subject': ['Structural analysis (Engineering)',
    'Python (Computer program language)',
    'COMPUTERS',
    'Programming Languages',
    'Python',
    'MATHEMATICS',
    'Probability & Statistics',
    'General'],
   'ia_collection': [''],
   'lendinglibrary': False,
   'printdisabled': False,
   'lending_edition': '',
   'lending_identifier': '',
   'authors': [{'key': '/authors/OL9588733A', 'name': 'Avishek Nag'}],
   'first_publish_year': 2021,
   'ia': None,
   'public_scan': False,
   'has_fulltext': False}]}

In [32]:
r.json()['works']

[{'key': '/works/OL16976951W',
  'title': 'Think Python',
  'edition_count': 11,
  'cover_id': 7363360,
  'cover_edition_key': 'OL25763659M',
  'subject': ['Computer programming',
   'Software architecture',
   'Python (Computer program language)',
   'COMPUTERS / Programming Languages / C#',
   'COMPUTERS / Programming Languages / Pascal',
   'COMPUTERS / Programming Languages / Java',
   'Computer',
   'Programming Languages',
   'General',
   'Python',
   'Bioinformatics',
   'Games',
   'Com051360',
   'Cs.cmp_sc.prog_lang'],
  'ia_collection': ['additional_collections',
   'folkscanomy',
   'folkscanomy_computer',
   'folkscanomy_computer_inbox',
   'inlibrary',
   'internetarchivebooks',
   'printdisabled'],
  'lendinglibrary': False,
  'printdisabled': True,
  'lending_edition': 'OL26455778M',
  'lending_identifier': '2015ThinkPython',
  'authors': [{'key': '/authors/OL6815485A', 'name': 'Allen B. Downey'},
   {'key': '/authors/OL12493148A', 'name': 'Allen Downey'}],
  'first_publish_year': 2009,
  'ia': '2015ThinkPython',
  'public_scan': True,
  'has_fulltext': True,
  'availability': {'status': 'open',
   'available_to_browse': False,
   'available_to_borrow': False,
   'available_to_waitlist': False,
   'is_printdisabled': False,
   'is_readable': True,
   'is_lendable': False,
   'is_previewable': True,
   'identifier': '2015ThinkPython',
   'isbn': None,
   'oclc': None,
   'openlibrary_work': 'OL16976951W',
   'openlibrary_edition': 'OL26455778M',
   'last_loan_date': None,
   'num_waitlist': None,
   'last_waitlist_date': None,
   'is_restricted': False,
   'is_browseable': False,
   '__src__': 'core.models.lending.get_availability'}},
 {'key': '/works/OL21349037W',
  'title': 'Introduction to Python for Science and Engineering',
  'edition_count': 10,
  'cover_id': None,
  'cover_edition_key': None,
  'subject': ['Python (computer program language)',
   'Engineering, data processing',
   'Science, data processing',
   'Python (Computer program language)',
   'Computer programming',
   'Engineering',
   'Data processing',
   'Science',
   'COMPUTERS',
   'Programming Languages',
   'Python',
   'General',
   'MATHEMATICS',
   'SCIENCE',
   'Physics'],
  'ia_collection': [''],
  'lendinglibrary': False,
  'printdisabled': False,
  'lending_edition': '',
  'lending_identifier': '',
  'authors': [{'key': '/authors/OL4194836A', 'name': 'David J. Pine'}],
  'first_publish_year': 2018,
  'ia': None,
  'public_scan': False,
  'has_fulltext': False},
 {'key': '/works/OL15664278W',
  'title': 'Head First Python',
  'edition_count': 9,
  'cover_id': 6681113,
  'cover_edition_key': 'OL24596470M',
  'subject': ['Programming languages (electronic computers)',
   'Python (Computer program language)',
   'Python (Langage de programmation)',
   'COMPUTERS',
   'Programming Languages',
   'C♯',
   'Java',
   'Pascal',
   'Scripting languages (Computer science)',
   'Computers and IT',
   'Python',
   'General',
   'Games',
   'Com051360',
   'Cs.cmp_sc.app_sw',
   'Cs.cmp_sc.prog_lang'],
  'ia_collection': ['inlibrary',
   'internetarchivebooks',
   'popularchinesebooks',
   'printdisabled'],
  'lendinglibrary': False,
  'printdisabled': True,
  'lending_edition': 'OL35343633M',
  'lending_identifier': 'headfirstpythonz0000paul',
  'authors': [{'key': '/authors/OL6867889A', 'name': 'Paul Barry'}],
  'first_publish_year': 2010,
  'ia': 'headfirstpythonz0000paul',
  'public_scan': False,
  'has_fulltext': True,
  'availability': {'status': 'borrow_available',
   'available_to_browse': True,
   'available_to_borrow': False,
   'available_to_waitlist': False,
   'is_printdisabled': True,
   'is_readable': False,
   'is_lendable': True,
   'is_previewable': True,
   'identifier': 'headfirstpythonz0000paul',
   'isbn': '9787512322233',
   'oclc': None,
   'openlibrary_work': 'OL15664278W',
   'openlibrary_edition': 'OL35343633M',
   'last_loan_date': None,
   'num_waitlist': None,
   'last_waitlist_date': None,
   'is_restricted': True,
   'is_browseable': True,
   '__src__': 'core.models.lending.get_availability'}},
 {'key': '/works/OL17422847W',
  'title': 'Python For Data Analysis',
  'edition_count': 8,
  'cover_id': 7548132,
  'cover_edition_key': None,
  'subject': ['Programming languages (Electronic computers)',
   'Python (Computer program language)',
   'Data mining',
   'Python (Langage de programmation)',
   'Exploration de données (Informatique)',
   'COMPUTERS',
   'Programming Languages',
   'Python',
   'Python 3.6',
   'Datenanalyse',
   'Datenmanagement',
   'Data processing',
   'General',
   'Games',
   'Com051360',
   'Cs.cmp_sc.app_sw',
   'Cs.cmp_sc.prog_lang',
   'Qa76.73.p98 m35 2017',
   '005.13/3'],
  'ia_collection': [''],
  'lendinglibrary': False,
  'printdisabled': False,
  'lending_edition': '',
  'lending_identifier': '',
  'authors': [{'key': '/authors/OL7309633A', 'name': 'Wes McKinney'}],
  'first_publish_year': 2012,
  'ia': 'pythonfordataana00mcki',
  'public_scan': False,
  'has_fulltext': False,
  'availability': {'status': 'error',
   'error_message': 'not found',
   'identifier': 'pythonfordataana00mcki',
   'is_restricted': True,
   'is_browseable': False,
   '__src__': 'core.models.lending.get_availability'}},
 {'key': '/works/OL6045694W',
  'title': 'Python in a Nutshell',
  'edition_count': 8,
  'cover_id': 389166,
  'cover_edition_key': 'OL7581267M',
  'subject': ['Python (Computer program language)',
   'Python (programmeertaal)',
   'Scripting languages (Computer science)',
   'Python (Langage de programmation)',
   'COMPUTERS',
   'Programming Languages',
   'Python'],
  'ia_collection': ['americanuniversity-ol',
   'drakeuniversity-ol',
   'inlibrary',
   'internetarchivebooks',
   'johnshopkins-ol',
   'printdisabled',
   'wilsoncollege-ol'],
  'lendinglibrary': False,
  'printdisabled': True,
  'lending_edition': 'OL26836451M',
  'lending_identifier': 'pythoninnutshell0000mart_a1w4',
  'authors': [{'key': '/authors/OL1521655A', 'name': 'Alex Martelli'},
   {'key': '/authors/OL2726934A', 'name': 'Anna Ravenscroft'},
   {'key': '/authors/OL2804309A', 'name': 'Steve Holden'}],
  'first_publish_year': 2002,
  'ia': 'pythoninnutshell0000mart_a1w4',
  'public_scan': False,
  'has_fulltext': True,
  'availability': {'status': 'borrow_available',
   'available_to_browse': True,
   'available_to_borrow': False,
   'available_to_waitlist': False,
   'is_printdisabled': True,
   'is_readable': False,
   'is_lendable': True,
   'is_previewable': True,
   'identifier': 'pythoninnutshell0000mart_a1w4',
   'isbn': '144939292X',
   'oclc': None,
   'openlibrary_work': 'OL6045694W',
   'openlibrary_edition': 'OL26836451M',
   'last_loan_date': None,
   'num_waitlist': None,
   'last_waitlist_date': None,
   'is_restricted': True,
   'is_browseable': True,
   '__src__': 'core.models.lending.get_availability'}},
 {'key': '/works/OL21703042W',
  'title': 'Tour of Data Science',
  'edition_count': 6,
  'cover_id': None,
  'cover_edition_key': None,
  'subject': ['Data mining',
   'R (Computer program language)',
   'Python (Computer program language)',
   'Data Mining',
   'Exploration de données (Informatique)',
   'R (Langage de programmation)',
   'Python (Langage de programmation)',
   'COMPUTERS',
   'Programming Languages',
   'Python',
   'General',
   'Computer Graphics',
   'Game Programming & Design'],
  'ia_collection': [''],
  'lendinglibrary': False,
  'printdisabled': False,
  'lending_edition': '',
  'lending_identifier': '',
  'authors': [{'key': '/authors/OL8302653A', 'name': 'Nailong Zhang'}],
  'first_publish_year': 2020,
  'ia': None,
  'public_scan': False,
  'has_fulltext': False},
 {'key': '/works/OL19548251W',
  'title': 'Python for Everyone',
  'edition_count': 6,
  'cover_id': 8514962,
  'cover_edition_key': 'OL26838816M',
  'subject': ['Python (computer program language)',
   'Python (Computer program language)',
   'Python'],
  'ia_collection': [''],
  'lendinglibrary': False,
  'printdisabled': False,
  'lending_edition': '',
  'lending_identifier': '',
  'authors': [{'key': '/authors/OL6972451A', 'name': 'Cay S. Horstmann'},
   {'key': '/authors/OL7017980A', 'name': 'Rance D. Necaise'}],
  'first_publish_year': 2013,
  'ia': None,
  'public_scan': False,
  'has_fulltext': False},
 {'key': '/works/OL19932156W',
  'title': 'Fluent Python',
  'edition_count': 6,
  'cover_id': 8743408,
  'cover_edition_key': 'OL27112900M',
  'subject': ['Python (Computer program language)',
   'Computer programming',
   'Object-oriented programming languages',
   'Object-oriented programming (computer science)',
   'Python (computer program language)',
   'Python (Langage de programmation)',
   'Langages orientés objet (Informatique)',
   'COMPUTERS',
   'Programming Languages',
   'Python',
   'Aa76.73.p98'],
  'ia_collection': ['binghamton-ol',
   'cua-ol',
   'inlibrary',
   'internetarchivebooks',
   'printdisabled',
   'universityofoklahoma-ol'],
  'lendinglibrary': False,
  'printdisabled': True,
  'lending_edition': 'OL27112900M',
  'lending_identifier': 'fluentpython0000rama',
  'authors': [{'key': '/authors/OL7584543A', 'name': 'Luciano Ramalho'}],
  'first_publish_year': 2015,
  'ia': 'fluentpython0000rama',
  'public_scan': False,
  'has_fulltext': True,
  'availability': {'status': 'borrow_available',
   'available_to_browse': True,
   'available_to_borrow': True,
   'available_to_waitlist': False,
   'is_printdisabled': True,
   'is_readable': False,
   'is_lendable': True,
   'is_previewable': True,
   'identifier': 'fluentpython0000rama',
   'isbn': '9781491946008',
   'oclc': None,
   'openlibrary_work': 'OL19932156W',
   'openlibrary_edition': 'OL27112900M',
   'last_loan_date': None,
   'num_waitlist': None,
   'last_waitlist_date': None,
   'is_restricted': True,
   'is_browseable': True,
   '__src__': 'core.models.lending.get_availability'}},
 {'key': '/works/OL25777002W',
  'title': 'Pandas for Everyone',
  'edition_count': 5,
  'cover_id': 13546912,
  'cover_edition_key': 'OL38655797M',
  'subject': ['Data mining',
   'General',
   'Python',
   'Professional, career & trade -> computer science -> database management',
   'Professional, career & trade -> computer science -> general',
   'Professional, career & trade -> computer science -> python'],
  'ia_collection': [''],
  'lendinglibrary': False,
  'printdisabled': False,
  'lending_edition': '',
  'lending_identifier': '',
  'authors': [{'key': '/authors/OL6586776A', 'name': 'Daniel Chen'}],
  'first_publish_year': 2017,
  'ia': None,
  'public_scan': False,
  'has_fulltext': False},
 {'key': '/works/OL19547142W',
  'title': 'Mastering Python Design Patterns',
  'edition_count': 5,
  'cover_id': 8513254,
  'cover_edition_key': 'OL26837727M',
  'subject': ['Python (Computer program language)',
   'Computer software',
   'Development',
   'Python (Langage de programmation)',
   'COMPUTERS',
   'Programming Languages',
   'Python',
   'Python (computer program language)'],
  'ia_collection': ['internetarchivebooks', 'printdisabled'],
  'lendinglibrary': False,
  'printdisabled': True,
  'lending_edition': '',
  'lending_identifier': '',
  'authors': [{'key': '/authors/OL7494961A', 'name': 'Sakis Kasampalis'}],
  'first_publish_year': 2015,
  'ia': 'masteringpythond0000kasa',
  'public_scan': False,
  'has_fulltext': True,
  'availability': {'status': 'private',
   'available_to_browse': False,
   'available_to_borrow': False,
   'available_to_waitlist': False,
   'is_printdisabled': True,
   'is_readable': False,
   'is_lendable': False,
   'is_previewable': True,
   'identifier': 'masteringpythond0000kasa',
   'isbn': '9781783989331',
   'oclc': None,
   'openlibrary_work': 'OL19547142W',
   'openlibrary_edition': 'OL26837727M',
   'last_loan_date': None,
   'num_waitlist': None,
   'last_waitlist_date': None,
   'is_restricted': True,
   'is_browseable': False,
   '__src__': 'core.models.lending.get_availability'}},
 {'key': '/works/OL21245028W',
  'title': 'Bite-Size Python',
  'edition_count': 4,
  'cover_id': 10357241,
  'cover_edition_key': 'OL28762070M',
  'subject': ['Python (Computer program language)',
   'COMPUTERS',
   'Languages',
   'Python'],
  'ia_collection': [''],
  'lendinglibrary': False,
  'printdisabled': False,
  'lending_edition': '',
  'lending_identifier': '',
  'authors': [{'key': '/authors/OL8135613A', 'name': 'April Speight'}],
  'first_publish_year': 2020,
  'ia': None,
  'public_scan': False,
  'has_fulltext': False},
 {'key': '/works/OL25347363W',
  'title': 'Survival Analysis with Python',
  'edition_count': 4,
  'cover_id': None,
  'cover_edition_key': None,
  'subject': ['Structural analysis (Engineering)',
   'Python (Computer program language)',
   'COMPUTERS',
   'Programming Languages',
   'Python',
   'MATHEMATICS',
   'Probability & Statistics',
   'General'],
  'ia_collection': [''],
  'lendinglibrary': False,
  'printdisabled': False,
  'lending_edition': '',
  'lending_identifier': '',
  'authors': [{'key': '/authors/OL9588733A', 'name': 'Avishek Nag'}],
  'first_publish_year': 2021,
  'ia': None,
  'public_scan': False,
  'has_fulltext': False}]

In [38]:
pd.DataFrame(r.json())

,key,name,subject_type,work_count,works
0,/subjects/python,python,subject,24,"{'key': '/works/OL16976951W', 'title': 'Think ..."
1,/subjects/python,python,subject,24,"{'key': '/works/OL21349037W', 'title': 'Introd..."
2,/subjects/python,python,subject,24,"{'key': '/works/OL15664278W', 'title': 'Head F..."
3,/subjects/python,python,subject,24,"{'key': '/works/OL17422847W', 'title': 'Python..."
4,/subjects/python,python,subject,24,"{'key': '/works/OL6045694W', 'title': 'Python ..."
5,/subjects/python,python,subject,24,"{'key': '/works/OL21703042W', 'title': 'Tour o..."
6,/subjects/python,python,subject,24,"{'key': '/works/OL19548251W', 'title': 'Python..."
7,/subjects/python,python,subject,24,"{'key': '/works/OL19932156W', 'title': 'Fluent..."
8,/subjects/python,python,subject,24,"{'key': '/works/OL25777002W', 'title': 'Pandas..."
9,/subjects/python,python,subject,24,"{'key': '/works/OL19547142W', 'title': 'Master..."
10,/subjects/python,python,subject,24,"{'key': '/works/OL21245028W', 'title': 'Bite-S..."
11,/subjects/python,python,subject,24,"{'key': '/works/OL25347363W', 'title': 'Surviv..."

In [39]:
pd.DataFrame(r.json()['works']) # key berib ochadi

,key,title,edition_count,cover_id,cover_edition_key,subject,ia_collection,lendinglibrary,printdisabled,lending_edition,lending_identifier,authors,first_publish_year,ia,public_scan,has_fulltext,availability
0,/works/OL16976951W,Think Python,11,7363360.0,OL25763659M,"[Computer programming, Software architecture, ...","[additional_collections, folkscanomy, folkscan...",False,True,OL26455778M,2015ThinkPython,"[{'key': '/authors/OL6815485A', 'name': 'Allen...",2009,2015ThinkPython,True,True,"{'status': 'open', 'available_to_browse': Fals..."
1,/works/OL21349037W,Introduction to Python for Science and Enginee...,10,NaN,None,"[Python (computer program language), Engineeri...",[],False,False,,,"[{'key': '/authors/OL4194836A', 'name': 'David...",2018,None,False,False,NaN
2,/works/OL15664278W,Head First Python,9,6681113.0,OL24596470M,"[Programming languages (electronic computers),...","[inlibrary, internetarchivebooks, popularchine...",False,True,OL35343633M,headfirstpythonz0000paul,"[{'key': '/authors/OL6867889A', 'name': 'Paul ...",2010,headfirstpythonz0000paul,False,True,"{'status': 'borrow_available', 'available_to_b..."
3,/works/OL17422847W,Python For Data Analysis,8,7548132.0,None,"[Programming languages (Electronic computers),...",[],False,False,,,"[{'key': '/authors/OL7309633A', 'name': 'Wes M...",2012,pythonfordataana00mcki,False,False,"{'status': 'error', 'error_message': 'not foun..."
4,/works/OL6045694W,Python in a Nutshell,8,389166.0,OL7581267M,"[Python (Computer program language), Python (p...","[americanuniversity-ol, drakeuniversity-ol, in...",False,True,OL26836451M,pythoninnutshell0000mart_a1w4,"[{'key': '/authors/OL1521655A', 'name': 'Alex ...",2002,pythoninnutshell0000mart_a1w4,False,True,"{'status': 'borrow_available', 'available_to_b..."
5,/works/OL21703042W,Tour of Data Science,6,NaN,None,"[Data mining, R (Computer program language), P...",[],False,False,,,"[{'key': '/authors/OL8302653A', 'name': 'Nailo...",2020,None,False,False,NaN
6,/works/OL19548251W,Python for Everyone,6,8514962.0,OL26838816M,"[Python (computer program language), Python (C...",[],False,False,,,"[{'key': '/authors/OL6972451A', 'name': 'Cay S...",2013,None,False,False,NaN
7,/works/OL19932156W,Fluent Python,6,8743408.0,OL27112900M,"[Python (Computer program language), Computer ...","[binghamton-ol, cua-ol, inlibrary, internetarc...",False,True,OL27112900M,fluentpython0000rama,"[{'key': '/authors/OL7584543A', 'name': 'Lucia...",2015,fluentpython0000rama,False,True,"{'status': 'borrow_available', 'available_to_b..."
8,/works/OL25777002W,Pandas for Everyone,5,13546912.0,OL38655797M,"[Data mining, General, Python, Professional, c...",[],False,False,,,"[{'key': '/authors/OL6586776A', 'name': 'Danie...",2017,None,False,False,NaN
9,/works/OL19547142W,Mastering Python Design Patterns,5,8513254.0,OL26837727M,"[Python (Computer program language), Computer ...","[internetarchivebooks, printdisabled]",False,True,,,"[{'key': '/authors/OL7494961A', 'name': 'Sakis...",2015,masteringpythond0000kasa,False,True,"{'status': 'private', 'available_to_browse': F..."
10,/works/OL21245028W,Bite-Size Python,4,10357241.0,OL28762070M,"[Python (Computer program language), COMPUTERS...",[],False,False,,,"[{'key': '/authors/OL8135613A', 'name': 'April...",2020,None,False,False,NaN
11,/works/OL25347363W,Survival Analysis with Python,4,NaN,None,"[Structural analysis (Engineering), Python (Co...",[],False,False,,,"[{'key': '/authors/OL9588733A', 'name': 'Avish...",2021,None,False,False,NaN

In [37]:
r.json().keys()

dict_keys(['key', 'name', 'subject_type', 'work_count', 'works'])

### https://github.com/public-apis/public-apis
#### API lar ro'yxati